:host {
  /*width: 250px;*/
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  display: flex;

  /*overflow: hidden;*/
  /*min-width: 250px;*/
  /*transition: width 0.3s ease-in-out;*/
  height: 100%;
  background: #dff0d8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
/* NOTE: see styles.css hack to make maplibre control container full height */


nav {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  justify-content: space-between;
  border-right: 1px solid #dee2e6;

  transition: width 0.2s ease-in-out;
  overflow: hidden;
}

nav.collapsed {
  width: 40px;
}
nav:not(.collapsed) {
  width: 110px;
}


.top-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  color: #1e351e;
}
.header-logo-icons {
  display: block;
  overflow: hidden;
  line-height: 0;

  text-wrap: nowrap;
  padding-top: 4px;
  width: 100%;
}
.header-logo-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
  padding: 0 5px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  transition: height 0.2s ease-in-out, color 0.2s ease-in-out;
}

.header-logo-text.collapsed {
  height: 0;
  color: transparent;
}
.header-logo-text:not(.collapsed) {
  height: 40px;
}


hr {
  border: none;
  height: 2px;
  background-color: #dee2e6;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}




.nav-collapse-button {
  display: flex;
  justify-content: end;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
.nav-collapse-button.collapsed ng-icon {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}
.nav-collapse-button:not(.collapsed) ng-icon {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

.content {
  flex: 1 1 auto;
  min-width: 0;
  background: #dff0d8;

  transition: width 0.2s ease-in-out;
  overflow: scroll;
  scrollbar-gutter: stable;
}
.content:not(.closed) {
  width: 250px;
}
.content.closed {
  width: 0;
}