<div class="sidebar" [class.collapsed]="navCollapsed()">
  <nav [class.collapsed]="navCollapsed()">
    <div class="top-container">
      <div class="header-logo" routerLink="/map"  [preserveFragment]="true">
        <div class="header-logo-icons">
          <ng-icon name="phosphorTreeEvergreenFill" size="40px" />
<!--          <ng-icon name="phosphorMagnifyingGlass" size="40px" />-->
        </div>
        <label class="header-logo-text" [class.collapsed]="navCollapsed()">FOM Monitor</label>
      </div>
      <hr/>
      <div class="actions">
        <app-sidebar-item title="Layers" icon="phosphorStack" link="layers" [collapsed]="navCollapsed()" />

        @if (isAuthenticated()) {
        <app-sidebar-item title="Watches" icon="phosphorBinoculars" link="area-watch-list"
                          [collapsed]="navCollapsed()" />
        }
      </div>
    </div>
    <div class="bottom-container">
      <div class="nav-collapse-button" (click)="toggleNav()" [class.collapsed]="navCollapsed()">
        <ng-icon name="phosphorCaretLeft" aria-label="Toggle Collapse" aria-hidden="true" />
      </div>
    </div>
  </nav>
  <div class="content" [class.closed]="contentClosed()">
    <router-outlet />
  </div>
</div>


