.action-item {
  cursor: pointer;
  display: flex;

  align-items: center;
  overflow: hidden;
  text-wrap: nowrap;

  padding: 4px 0;
}
.action-item-icon {
  flex: 0 0 auto;
  width: 40px;
  height: 30px;
  display: block;
}
.action-item-title {
  font-size: 14px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  display: block;
  cursor: pointer;

  transition: color 0.2s ease-in-out, display 0.2s linear;
}

.action-item-title:not(.collapsed) {
  color: #333;
}
.action-item-title.collapsed {
  color: transparent;
}

.action-item {
  color: #333;
  text-decoration: none;
  /*padding: 5px;*/
}
.action-item:hover {
  color: #5a6c52;
}
.action-item:active {
  color: #111;
}

.action-item-router-active {
  color: #222;
  background: #99b88c;
  font-weight: bold;
}

