:host {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0; // overridden in html-to-image
  pointer-events: none;
}

.thumb-map-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}
.thumb-map {
  display: block;
  width: 100%;
  height: 100%;
}