.user-bubble {
  /*position: relative;*/
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--mat-sys-surface);
  border: var(--mat-sys-outline) 2px solid;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.menu-dialog {
  margin: 0;
  position: absolute;
  top: calc(100% + 10px);
  left: auto;
  right: 0;
  width: 200px;

  background: var(--mat-sys-surface);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

dialog.menu {

  text-wrap: nowrap;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition: height 0.1s ease-in-out;
}
dialog.menu::backdrop {
  background: transparent;
}

.menu-header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  color: var(--mat-sys-on-primary-container);
  background: var(--mat-sys-primary-container);
}
.menu-body {
  /*padding: 10px 0;*/
  overflow-y: auto;
}
