@if (isAuthenticated()) {
<app-loader [loading]="profileImageUrl() === undefined">
  <img
    [src]="profileImageUrl()"
    alt="User profile image"
    class="user-bubble"
    (click)="openMenu($event)"
/>
  <app-loader-placeholder>
    <div class="user-bubble placeholder">
      <mat-spinner [strokeWidth]="2" />
    </div>
  </app-loader-placeholder>
</app-loader>

<!--  TODO make dialog; close on click outside-->
<dialog #menu closedby="any" class="menu-dialog">
  <div class="menu">
    <div class="menu-header">
      <span>{{ user()?.displayName }}</span>
    </div>
    <mat-action-list class="menu-body">
      <mat-list-item  class="menu-item" (click)="toggleDarkMode($event)" >
        <mat-slide-toggle [checked]="isDarkMode()" (click)="toggleDarkMode($event)">Dark Mode</mat-slide-toggle>
      </mat-list-item>

      <button mat-list-item class="menu-item" (click)="logout()">Logout</button>
    </mat-action-list>
  </div>
</dialog>
} @else {
  <button matButton="filled" class="action-login" (click)="login()">
    Login
  </button>
<!--  TODO add register button -->
}