<div class="sidebar" [class.collapsed]="navCollapsed()">
  <nav [class.collapsed]="navCollapsed()">
    <div class="top-container">
      <div class="header-logo" routerLink="/map"  [preserveFragment]="true">
        <ng-icon class="header-logo-icon" name="phosphorTreeEvergreenFill" />
        <label class="header-logo-text" [class.collapsed]="navCollapsed()">FOM Monitor</label>
      </div>
      <hr/>
      <div class="actions">
        <app-sidebar-item
            title="Layers"
            icon="phosphorStack"
            [link]="RoutePaths.layers"
            [closeLink]="RoutePaths.map"
            [collapsed]="navCollapsed()" />

        @if (isAuthenticated()) {
          <app-sidebar-item
              title="Watches"
              icon="phosphorBinoculars"
              [link]="RoutePaths.areaWatchList"
              [closeLink]="RoutePaths.map"
              [collapsed]="navCollapsed()" />
        }
      </div>
    </div>
    <div class="bottom-container">
      <div class="nav-collapse-button" (click)="toggleNav()" [class.collapsed]="navCollapsed()">
        <ng-icon name="phosphorCaretLeft" aria-label="Toggle Collapse" aria-hidden="true" />
      </div>
    </div>
  </nav>
  <div class="content" [class.closed]="contentClosed()">
    <router-outlet />
  </div>
</div>


