:host {
  /*font-family: "Open Sans", sans-serif;*/
  /*set in component*/
  --nav-width: 0;
  --content-width: 0;
  --animation-duration: 0;
}

.sidebar {
  display: flex;

  height: 100%;
  background: #f3f3f3;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
/* NOTE: see styles.css hack to make maplibre control container full height */


nav {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #dee2e6;

  width: var(--nav-width);
  transition: width var(--animation-duration);
  overflow: hidden;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  flex-direction: column;
  color: #1e351e;
  cursor: pointer;
}
.header-logo-icon {
  display: block;
  overflow: hidden;
  line-height: 0;
  width: 40px;
  height: 50px;

  text-wrap: nowrap;
  padding: 4px 0;
}
.header-logo-text {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
  padding: 0 5px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  transition: height var(--animation-duration), color var(--animation-duration);
  cursor: pointer;
}

.header-logo-text.collapsed {
  height: 0;
  color: transparent;
}
.header-logo-text:not(.collapsed) {
  height: 44px;
}


hr {
  border: none;
  height: 2px;
  background-color: #dee2e6;
}

.actions {
  display: flex;
  flex-direction: column;
}




.nav-collapse-button {
  display: flex;
  justify-content: end;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: transform var(--animation-duration);
}
.nav-collapse-button.collapsed ng-icon {
  transform: rotate(180deg);
}
.nav-collapse-button:not(.collapsed) ng-icon {
  transform: rotate(0deg);
}

.content {
  flex: 1 1 auto;
  min-width: 0;

  transition: width var(--animation-duration);
  overflow: auto;
  scrollbar-width: thin;
  width: var(--content-width);
}