<div class="sidebar" [class.collapsed]="navCollapsed()">
  <nav [class.collapsed]="navCollapsed()">
    <div class="top-container">
      <header class="header-logo" [routerLink]="RoutePaths.map"  [preserveFragment]="true">
        <ng-icon class="header-logo-icon" name="phosphorTreeEvergreenFill" />
        <label class="header-logo-text" [class.collapsed]="navCollapsed()">{{config.get().app.title}}</label>
      </header>
      <section class="actions">
        <app-sidebar-item
            title="Layers"
            icon="phosphorStack"
            [link]="RoutePaths.layers"
            [closeLink]="RoutePaths.map"
            [collapsed]="navCollapsed()" />

        @if (isAuthenticated()) {
          <app-sidebar-item
              title="Watches"
              icon="phosphorBinoculars"
              [link]="RoutePaths.areaWatchList"
              [closeLink]="RoutePaths.map"
              [collapsed]="navCollapsed()" />
        }
      </section>
    </div>


    <mat-action-list class="bottom-container">
      <button mat-list-item class="action nav-collapse-button" (click)="toggleNav()" [class.collapsed]="navCollapsed()">
        <ng-icon matListItemIcon name="phosphorCaretLeft" aria-label="Toggle Collapse" aria-hidden="true" />
      </button>
    </mat-action-list>
  </nav>

  <section class="content" [class.closed]="contentClosed()">
    <header class="content-header">
      <button matIconButton class="action back-button" (click)="onBack($event)">
        <ng-icon name="phosphorCaretLeft" aria-label="Back" aria-hidden="true" />
      </button>
      <h1 class="action content-title">{{contentTitle()}}</h1>
      <button matIconButton class="action close-button" [routerLink]="RoutePaths.map">
        <ng-icon name="phosphorX" aria-label="Close" aria-hidden="true" />
      </button>
    </header>
    <div class="content-body">
      <router-outlet />
    </div>
  </section>
</div>


