:host {
  /*font-family: "Open Sans", sans-serif;*/
  /*set in component*/
  --nav-width: 0;
  --content-width: 0;
  --animation-duration: 0;
}

.sidebar {
  display: flex;

  height: 100%;
  background: var(--mat-sys-surface);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
/* NOTE: see styles.css hack to make maplibre control container full height */


nav {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--mat-sys-outline-variant);

  width: var(--nav-width);
  transition: width var(--animation-duration);
  overflow: hidden;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  flex-direction: column;
  color: var(--mat-sys-on-primary-container);
  background: var(--mat-sys-primary-container);
  border-bottom: 1px solid var(--mat-sys-surface-container-high);
  cursor: pointer;

}
.header-logo-icon {
  display: block;
  overflow: hidden;
  line-height: 0;

  width: 40px;
  height: calc(50px - 1px); // parent border
  text-wrap: nowrap;
}
.header-logo-text {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
  padding: 0 5px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  transition: height var(--animation-duration), color var(--animation-duration);
  cursor: pointer;
}

.header-logo-text.collapsed {
  height: 0;
  color: transparent;
}
.header-logo-text:not(.collapsed) {
  height: 44px;
}


.actions {
  display: flex;
  flex-direction: column;
}




.nav-collapse-button {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row-reverse; // material adds some secret items to button, so otherwise impossible to get icon to right
}
.nav-collapse-button ng-icon {
  transition: transform var(--animation-duration);
  font-size: 24px;
  margin-right: 8px;
}
.nav-collapse-button.collapsed ng-icon {
  transform: rotate(180deg);
}
.nav-collapse-button:not(.collapsed) ng-icon {
  transform: rotate(0deg);
}

.content {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 0;

  transition: width var(--animation-duration);
  overflow: auto;
  scrollbar-width: thin;
  width: var(--content-width);
}

.content-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--mat-sys-on-primary-container);
  background: var(--mat-sys-primary-container);
  border-bottom: 1px solid var(--mat-sys-surface-container-high);
  height: 50px;
  width: 100%;

  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.content-body {
  flex: 1 1 auto;
  min-height: 0;
}
