<div class="sidebar" [class.collapsed]="navCollapsed()">
  <nav [class.collapsed]="navCollapsed()">
    <div class="top-container">
      <header class="header-logo" [routerLink]="RoutePaths.map"  [preserveFragment]="true">
        <ng-icon class="header-logo-icon" name="phosphorTreeEvergreenFill" />
        <label class="header-logo-text" [class.collapsed]="navCollapsed()">{{config.get().app.title}}</label>
      </header>
      <hr/>
      <section class="actions">
        <app-sidebar-item
            title="Layers"
            icon="phosphorStack"
            [link]="RoutePaths.layers"
            [closeLink]="RoutePaths.map"
            [collapsed]="navCollapsed()" />

        @if (isAuthenticated()) {
          <app-sidebar-item
              title="Watches"
              icon="phosphorBinoculars"
              [link]="RoutePaths.areaWatchList"
              [closeLink]="RoutePaths.map"
              [collapsed]="navCollapsed()" />
        }
      </section>
    </div>
    <div class="bottom-container">
      <div class="action nav-collapse-button" (click)="toggleNav()" [class.collapsed]="navCollapsed()">
        <ng-icon name="phosphorCaretLeft" aria-label="Toggle Collapse" aria-hidden="true" />
      </div>
    </div>
  </nav>
  <section class="content" [class.closed]="contentClosed()">
    <header class="content-header">
      <div class="action back-button" (click)="onBack($event)">
        <ng-icon name="phosphorCaretLeft" aria-label="Back" aria-hidden="true" />
        Back
      </div>
      <h2 class="action content-title">{{contentTitle()}}</h2>
      <div class="action close-button" [routerLink]="RoutePaths.map">
        <ng-icon name="phosphorX" aria-label="Close" aria-hidden="true" />
      </div>
    </header>
    <div class="content-body">
      <router-outlet />
    </div>
  </section>
</div>


