.action-item {
  cursor: pointer;
  display: flex;

  align-items: center;
  overflow: hidden;
  text-wrap: nowrap;

  padding: 4px 0;
}
.action-item-icon {
  flex: 0 0 auto;
  width: 40px;
  height: 30px;
  display: block;
}
.action-item-title {
  font-size: 14px;
  /*font-family: "Open Sans", sans-serif;*/
  display: block;
  cursor: inherit;
}


.action-item {
  color: var(--mat-sys-on-surface);
  background: var(--mat-sys-surface);
  text-decoration: none;
  cursor: pointer;
  /*padding: 5px;*/

}
.action-item:hover {
  color: var(--mat-sys-on-surface-bright);
  background: var(--mat-sys-surface-bright);
}
.action-item:active {
  color: var(--mat-sys-on-surface-variant);
  background: var(--mat-sys-surface-variant);
}

.action-item-router-active {
  color: var(--mat-sys-on-primary-container);
  background: var(--mat-sys-primary-container);
  font-weight: bold;
}

