:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.thumb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--mat-sys-outline-variant);

  transition: filter 0.2s ease-in-out;
  filter: none;
  &.placeholder {
    filter: blur(8px);
  }
}

