:host {
  --thumbnail-scale-factor: 0; // set in component
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.thumb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}


.thumb-map {
  width: 100%;
  height: 100%;
  visibility: hidden;

  display: block;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;

  &.visible {
    visibility: visible;
  }
}


.thumb-map-wrapper {
  // Render map larger size to get higher zoom level
  width: calc(100% * var(--thumbnail-scale-factor));
  height: calc(100% * var(--thumbnail-scale-factor));

  // Scale down to actual thumbnail size
  transform: scale(calc(1 / var(--thumbnail-scale-factor)));
  transform-origin: top left;


  // Position absolutely so it doesn't affect layout
  position: absolute;
  top: 0;
  left: 0;
}
