:host {
  --card-action-color: transparent;
  --card-background: var(--mat-sys-surface);
  --card-color: var(--mat-sys-on-surface);

  background: var(--card-background);
  color: var(--card-color);
  padding: 5px;

  display: flex;
  gap: 10px;

  cursor: pointer;
  transition: background 0.1s ease;
}
:host(.item-odd) {
  --card-background: var(--mat-sys-surface-container-low);
}

:host:hover { // hovered here
  --card-background: var(--mat-sys-surface-container-high);
  --card-action-color: var(--mat-sys-on-surface);
}
:host.hovered { // hovered on map
  --card-background: var(--mat-sys-surface-container-high);
  --card-action-color: var(--mat-sys-on-surface);
}

:host.selected {
  --card-background: var(--mat-sys-surface-container-highest);
}

.action-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
}



