@if (isAuthenticated()) {
  <div class="sidebar">
    <app-area-watch-list></app-area-watch-list>
  </div>
}

<mgl-map class="map"
         [style]="'https://demotiles.maplibre.org/style.json'"
         [center]="defaultCenter()"
         [zoom]="defaultZoom()"
         [hash]="true"
         [transformRequest]="transformLocalUrl"
         (mapLoad)="onMapLoad($event)"
         [dragRotate]="false"
         [touchZoomRotate]="false"
>
  <!-- OSM Base Layer -->
  <mgl-raster-source
      id="osm-base"
      [tiles]="['https://tile.openstreetmap.org/{z}/{x}/{y}.png']"
      [tileSize]="256"
      attribution="© OpenStreetMap contributors"
  >

    <mgl-layer
        source="osm-base"
        id="osm-base"
        type="raster"
        [minzoom]="0"
        [maxzoom]="19"
        [layout]="mapLayerService.getLayout('osm-base')"

        appMapLayer
        [thumbnailImg]="'assets/layer-preview-osm-base.png'"
        [name]="'Map'"
        [initiallyVisible]="true"
    />
  </mgl-raster-source>

  <!-- ESRI Imagery Base Layer -->
  <mgl-raster-source
      id="esri-imagery"
      [tiles]="['https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}']"
      [tileSize]="256"
      attribution="Esri, Maxar, Earthstar Geographics, and the GIS User Community"
  >
    <mgl-layer
        source="esri-imagery"
        id="esri-imagery"
        type="raster"
        [minzoom]="0"
        [maxzoom]="19"
        [layout]="mapLayerService.getLayout('esri-imagery')"

        appMapLayer
        [thumbnailImg]="'assets/layer-preview-esri-imagery.png'"
        [name]="'Satellite'"
    />
  </mgl-raster-source>


  <!-- Domain Feature Layers (Vector Tiles) -->
  @for (layer of domainLayers() ?? []; track layer.kind) {
    <app-feature-layer [layer]="layer" url="local://./tileserver/{{layer.tileSource}}/{z}/{x}/{y}"/>
  }

  <app-area-watch-layer/>

  <!-- Controls -->
  <mgl-control mglNavigation [showCompass]="false" position="top-right"></mgl-control>
  <mgl-control mglScale [maxWidth]="100" unit="metric" position="bottom-right"></mgl-control>
  <mgl-control mglGeolocate
               [positionOptions]="{ enableHighAccuracy: false }"
               [trackUserLocation]="true"
  ></mgl-control>

  <app-base-layer-switcher/>
</mgl-map>

