<app-loader [dependentStates]="[areaWatchService.state]">
  <app-thumbnail-map class="thumb-map"
                     [sourceId]="id()"
                     [src]="thumbnailUrl()?.url"
                     [paramHash]="thumbnailUrl()?.paramHash"
                     alt="watch thumbnail"
                     [geometry]="geometry()"
                     [height]="128"
                     [width]="128"
                     [theme]="theme()"
                     fillColor="#3bb2d0"
                     [placeholderSrc]="placeholderSrc()"
                     (generated)="onThumbMapSaved($event)"
                     (imgLoadError)="onImgLoadError($event)"
                     [forceGenerate]="isThumbnailRequestInProgress() ? false : undefined"
  />
</app-loader>