<header>
  <h2>Watches</h2>
  <a class="action-item" [routerLink]="RoutePaths.areaWatchAdd">Add</a>
</header>
<div>
  @if (awService.state.isLoading() || awService.state.isIdle()) {
    <p>Loading...</p>

  } @else if (awService.state.isError()) {
    <p>Error: {{ awService.state.error().message }}</p>

  } @else if (awService.state.isReady()) {
    @for (aw of awService.data(); track aw.id) {
      <app-area-watch-card [id]="aw.id" [isOdd]="$odd" />
    } @empty {
      <p class="empty">Add a watch to monitor an area</p>
    }
  }
</div>