<div class="header">
  <h2>Watches</h2>
  <a routerLink="/map/area-watch-add" class="action-item">Add</a>
</div>
<div>
  @if (awService.state.isLoading() || awService.state.isIdle()) {
    <p>Loading...</p>

  } @else if (awService.state.isError()) {
    <p>Error: {{ awService.state.error().message }}</p>

  } @else if (awService.state.isReady()) {
    @for (aw of awService.data(); track aw.id) {
      <app-area-watch-card [data]="aw" [class.item-odd]="$odd" />
    } @empty {
      <p class="empty">Add a watch to monitor an area</p>
    }
  }
</div>