:host {
  display: block;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #99b88c;
  border-bottom: 2px solid #7c9571;
  height: 50px;
}

h2 {
  color: #fff;
}

.action-item {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  background: #5a6c52;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}
.action-item:hover {
  background: #333;
}
.action-item:active {
  background: #111;
}

li {
  list-style: none;
}


.empty {
  font-style: italic;
  color: #999;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
}
