:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--mat-sys-surface);
}


.list {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0;
}

.action-list {
  flex: 0 0 auto;
  display: block;
  background: var(--mat-sys-surface-container);
}


.action-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  color: var(--mat-sys-on-surface)
}

.action-item-icon {
  display: block;
  font-size: 26px;
}


.empty {
  font-style: italic;
  color: var(--mat-sys-on-surface);
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
}
