<app-loader [dependentStates]="[this.layerService.state, this.areaWatchService.state]">
@if (mode() === 'view') {
  <div class="view-container">
    <div class="name-container">
      <h2>{{ data()?.name }}</h2>
      <button matIconButton class="action-item" [disabled]="this.localState() !== 'added'" (click)="navigateEdit($event)">
        <ng-icon class="action-item-icon" name="phosphorPencil" />
      </button>
    </div>

    <div class="layers-container">
      <mat-label>Layers</mat-label>
      <mat-chip-set id="layers">
        @for (layerKind of data()?.layers; track ""+layerKind) {
          @let layer = layerService.get(layerKind);
          <mat-chip [value]="layerKind">
            <!--          TODO layer thumbnail; currently only on LayerGroup <img matChipAvatar [src]="layer.thumbnailImg" [alt]="layer.name" />-->
            {{layer?.name}}
          </mat-chip>
        }
      </mat-chip-set>
    </div>

    <div class="action-container">
      <mat-action-list role="list" aria-label="Actions">
        <mat-label>Actions</mat-label>
        <button mat-list-item class="action-item" [disabled]="this.localState() !== 'added'"  (click)="navigateDelete($event)">
          <ng-icon matListItemIcon class="action-item-icon" name="phosphorTrash" />
          <p>Delete</p>
        </button>
      </mat-action-list>
    </div>
  </div>


} @else if (mode() === 'edit' || mode() === 'add') {
<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" formControlName="name"
            autocomplete="off" data-lpignore="true" data-form-type="other"
           placeholder="Name"
    >
    <mat-label>Name</mat-label>
    @if (form.controls.name.hasError('required')) {
      <mat-error>Name is required</mat-error>
    }
  </mat-form-field>


  <div class="chip-form-field">
    <label class="chip-form-field-label">Layers</label>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" id="layers" formControlName="layers"
                      multiple aria-label="Select Layers"
                      [class.chip-form-field-invalid]="form.controls.layers.invalid && form.controls.layers.touched">
      @for (layer of layerService.data(); track layer.kind) {
        <mat-chip-option [value]="layer.kind">
          {{layer.name}}
        </mat-chip-option>
      }
    </mat-chip-listbox>
    @if (form.controls.layers.invalid && form.controls.layers.touched) {
        @if (form.controls.layers.hasError('required')) {
          <mat-error>At least one layer is required</mat-error>
        }
    }
  </div>
  <div class="error-container">
    @if (form.controls.geometry.hasError('required')) {
      <mat-error>Draw an area to monitor on the map</mat-error>
    }
    @if (form.controls.geometry.hasError('area')) {
      @let error = form.controls.geometry.getError('area');

      <mat-error>Selected area {{error['actualAreaHa'] | number:'1.0-0' }} hectares is larger than maximum of {{error['maxAreaHa'] | number:'1.0-0' }} hectares</mat-error>
    }
  </div>
  <div class="button-container">
    @if (this.mode() === 'edit') {
      <button matButton type="button" (click)="onCancelEdit()">Cancel</button>
      <button matButton="filled" type="submit">Save</button>
    }
    @if (this.mode() === 'add') {
      <button matButton type="button" (click)="onCancelEdit()">Cancel</button>
      <button matButton="filled" type="submit">Add</button>
    }
  </div>
</form>

}
</app-loader>