.view-container {
  display: block;
  padding: 0 5px;
}


.name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
}


.layers-container {
  padding-left: 5px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  color: var(--mat-sys-on-surface)
}

.action-item-icon {
  display: block;
  font-size: 26px;
}



form {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 10px;
}


.chip-form-field {
  display: flex;
  flex-direction: column;
  padding: 16px 0 4px 0;
}

.chip-form-field-label {
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
}


.chip-form-field mat-chip-listbox {
  margin-bottom: 4px;
}
