<div #map class="map">
  <div class="base-layer-switcher">
    @for (base of baseLayers; track base.id) {
      <div class="layer-thumb"
           [class.active]="base.visible"
           (click)="selectBaseLayerGroup(base.id)">
        <img src="{{base.thumbnailImg}}" alt="{{base.name}}" />
        <span>{{ base.name }}</span>
      </div>
    }
  </div>
</div>
@if (isAuthenticated()) {
  <div class="sidebar">
    <app-area-watch-list />
  </div>
}
<!-- <map-drawer [item]="selectedItem()"></map-drawer> -->
