<mgl-map class="map"
         [style]="'https://demotiles.maplibre.org/style.json'"
         [center]="defaultCenter()"
         [zoom]="defaultZoom()"
         hash="ml"
         [transformRequest]="transformLocalUrl"
         (mapLoad)="onMapLoad($event)"
         [dragRotate]="false"
         [touchZoomRotate]="false"
         [attributionControl]="{compact: true}"
         (mapClick)="onEmptyClick( $event)"
>
  <!-- OSM Base Layer -->
  <mgl-raster-source
      id="osm-base"
      [tiles]="['https://tile.openstreetmap.org/{z}/{x}/{y}.png']"
      [tileSize]="256"
      attribution="© OpenStreetMap contributors"
  >
    <app-map-layer-group
        groupId="osm-base"
        thumbnailImg="assets/layer-preview-osm-base.png"
        name="Map"
        [initiallyVisible]="true"
        category="base"/>

    <mgl-layer
        source="osm-base"
        id="osm-base"
        type="raster"
        [minzoom]="0"
        [maxzoom]="19"
        [layout]="mapLayerService.getLayout('osm-base')"

        appMapLayer
        groupId="osm-base"
    />
  </mgl-raster-source>

  <!-- ESRI Imagery Base Layer -->
  <mgl-raster-source
      id="esri-imagery"
      [tiles]="['https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}']"
      [tileSize]="256"
      attribution="Esri, Maxar, Earthstar Geographics, and the GIS User Community"
  >
    <app-map-layer-group
        groupId="esri-imagery"
        category="base"
        thumbnailImg="assets/layer-preview-esri-imagery.png"
        name="Satellite"
    />
    <mgl-layer
        source="esri-imagery"
        id="esri-imagery"
        type="raster"
        [minzoom]="0"
        [maxzoom]="19"
        [layout]="mapLayerService.getLayout('esri-imagery')"

        appMapLayer
        groupId="esri-imagery"
    />
  </mgl-raster-source>


  <!-- Domain Feature Layers (Vector Tiles) -->
  @for (layer of domainLayers() ?? []; track layer.kind) {
    <app-feature-layer [layer]="layer" url="local://./tileserver/{{layer.tileSource}}/{z}/{x}/{y}"/>
  }

  @if (isAuthenticated()) {
    <app-area-watch-layer/>
  }


  <mgl-control position="top-right">
    <app-user-menu />
  </mgl-control>
  <mgl-control position="bottom-right">
    <app-base-layer-switcher/>
  </mgl-control>

  <!-- Controls -->
  <mgl-control mglScale [maxWidth]="100" unit="metric" position="bottom-right"></mgl-control>
  <mgl-control mglNavigation [showCompass]="false" position="bottom-right"></mgl-control>
<!--  <mgl-control mglGeolocate-->
<!--               [positionOptions]="{ enableHighAccuracy: false }"-->
<!--               [trackUserLocation]="true"-->
<!--  ></mgl-control>-->



  <mgl-control position="top-left" >
    <app-sidebar>
      <router-outlet></router-outlet>
    </app-sidebar>
  </mgl-control>

</mgl-map>

