<mgl-map class="map"
         id="map"
         [style]="mapDisplayService.style()"
         [center]="appConfig.get().map.defaultCenter"
         [zoom]="appConfig.get().map.defaultZoom"
         hash="ml"
         [transformRequest]="mapDisplayService.transformLocalUrl"
         (mapLoad)="onMapLoad($event)"

         [dragRotate]="false"
         [touchZoomRotate]="false"
         [attributionControl]="{compact: true}"
         (mapClick)="mapInteraction()?.onClick($event)"

>


<!--   Domain Feature Layers (Vector Tiles)-->
  @for (layer of domainLayers() ?? []; track layer.kind) {
    <app-feature-layer [layer]="layer" [url]="'local://./tileserver/'+layer.tileSource+'/{z}/{x}/{y}'"/>
  }

  @if (isAuthenticated() && isAreaWatchReady()) {
    <app-area-watch-layer />
  }


  <mgl-control position="top-right">
    <app-user-menu />
  </mgl-control>

  <!-- Controls -->
  <mgl-control mglScale [maxWidth]="100" unit="metric" position="bottom-right"></mgl-control>
  <mgl-control mglNavigation [showCompass]="false" position="bottom-right"></mgl-control>

  <mgl-control position="top-left" >
    <app-sidebar/>
  </mgl-control>

  @if (this.map()) {
    <app-map-interaction [map]="map()" />
    <app-map-drawing [map]="map()" />
  }

</mgl-map>

