<app-map-card
    [isOdd]="isOdd()"
    [featureId]="featureId()"
    [geometry]="data().geometry"
    (selected)="onSelected($event)"
    appInViewport
    (inViewport)="isInViewport = $event"
>
  <app-card-thumb>
    <app-thumbnail-map class="thumb-map"
                       [src]="data().thumbnailImageUrl"
                       alt="watch thumbnail"
                       [geometry]="data().geometry"
                       fillColor="#3bb2d0"
                       (mapSaved)="onThumbMapSaved($event)" />
  </app-card-thumb>

  <app-card-label [title]="data().name">

    <div class="layers">
      @if (layerService.state.isReady()) {
        @for (l of data()?.layers; track l) {
          <li class="badge"><p>{{ layerService.byKind()[l].name }}</p></li>
        }
      }
    </div>
  </app-card-label>

  @if (data().localState === LocalState.added) {
  <app-card-action>
    <ng-icon name="phosphorXCircleFill" (click)="delete($event)" />
<!--    TODO icon, throbber while deleting-->
  </app-card-action>
  }
</app-map-card>