<app-map-card
    [isOdd]="isOdd()"
    [featureId]="featureId()"
    [geometry]="data().geometry"
    [routerLink]="[RoutePaths.areaWatchView({id: id()})]"
    [scrollIntoView]="{hover: true}"
>
  <app-card-thumb>
    <app-area-watch-thumb [id]="id()" />
  </app-card-thumb>

  <app-card-label [title]="data().name">

    <div class="layers">
      @if (layerService.state.isReady()) {
        @for (l of data()?.layers; track l) {
          <li class="badge"><p>{{ layerService.byKind()[l].name }}</p></li>
        }
      }
    </div>
  </app-card-label>
</app-map-card>