<app-map-card [isOdd]="isOdd()" [featureId]="featureId()">
  <app-card-thumb [src]="'assets/areawatch-thumb-dummy.png'" alt="{{ data().name }}" />

  <app-card-label [title]="data().name">
    <div class="layers">

      @if (layerService.state.isReady()) {
        @for (l of data()?.layers; track l) {
          <li class="badge"><p>{{ layerService.byKind()[l].name }}</p></li>
        }
      }
    </div>
  </app-card-label>

  @if (data().localState === LocalState.added) {
  <app-card-action>
    <ng-icon name="phosphorXCircleFill" (click)="delete($event)" />
<!--    TODO icon, throbber while deleting-->
  </app-card-action>
  }
</app-map-card>