.layers {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.badge {
  list-style: none;
  font-size: 9px;
  background: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
  padding: 4px 4px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  /*TODO overflow*/
}

.thumb-map {
  width: 64px;
  height: 64px;
}

