<nav class="menu">
  <h1 class="title">FOM Monitor</h1>
  <div class="actions">
    <div class="action-item" routerLinkActive="action-item-active"><a [routerLink]="RoutePaths.home">Home</a></div>
    <div class="action-item" routerLinkActive="action-item-active"><a [routerLink]="RoutePaths.map">Map</a></div>
    <div class="action-item">
    @if (!isAuthenticated()) {
      <button class="action-login" (click)="login()">Login</button>
    } @else {
      <button class="action-logout" (click)="logout()">Logout</button>
    }
    </div>
  </div>
</nav>
