<nav class="menu">
  <h1 class="title">FOM Monitor</h1>
  <div class="actions">
    <a routerLink="/" class="action-item">Home</a>
    <a routerLink="/map" class="action-item">Map</a>
    <a routerLink="/ngx-map" class="action-item">Ngx Map</a>

<!--    <a routerLink="/profile" class="action-item" *kaHasRoles="['view-profile']">My Profile</a>-->
    @if (!isAuthenticated()) {
      <button class="action-item action-login" (click)="login()">Login</button>
    } @else {
      <button class="action-item action-logout" (click)="logout()">Logout {{user()?.displayName}}</button>
    }
  </div>
</nav>
